{% extends "shared/_layout.html" %}
{% set title = "Глосарий" %}
{% set crumbs = [
    {"title": "Главная", "link": "/"},
    {"title": "Глосарий", "link": ""}
] %}

{% block content %}
    <main class="container postlist">
        {% for post in data %}
            <a href="glossary/{{ post["id"] }}" class="post-wrapper">
                <article class="post row my-4">
                    <div class="img-wrapper col-lg-2 col-md-2 col-sm-3 col-4">
                        {% if not post["img"] %}
                                <img
                                        src="{{ url_for("static", filename="img/owl.png") }}"
                                        alt="{{ post["title"] }}">
                        {% endif %}
                        {% if post["img"] %}
                            <img
                                    src="{{ post["img"] }}"
                                    alt="{{ post["title"] }}">
                        {% endif %}
                    </div>
                    <div class="col post-desc">
                        <p class="post-title">{{ post["title"] }}</p>
                        {#                    <p class="post-preiew">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid distinctio maiores odio quae soluta voluptate! Accusamus architecto, asperiores assumenda consequuntur eveniet ex expedita harum mollitia natus officiis omnis provident similique, totam unde!</p>#}
                        {#                    <p class="post-date">{{ post["created_at"] }}</p>#}
                    </div>
                </article>
            </a>
        {% endfor %}
    </main>
{% endblock %}