{% extends "shared/_layout.html" %}
{% set title = "About" %}
{% set crumbs = [
    {"title": "Главная", "link": "/"},
    {"title": "About", "link": "/"},
] %}

{% block content %}
    <main class="container pt-4">
        <p>
            Создателем данного сайта являюсь я - Семенов Никита Сергеевич,
            студент первого курса Иркутского Национального Исследовательского Технического Университета,
            обучаюсь по направлению "Информационные системы и технологии" (оно же, по-моему, кибернетика). Данный сайт
            был создан в качестве курсовой работы по дисциплине "Основы веб-технологий".
            Вся информация взятая на сайте была взята из открытых источников. Их список (и даже больше) можно
            посмотреть во вкладке "Поленые ссылки".
        </p>
        <p>
            Связаться со мной можно, написав на почту nikita.7nov@gmail.com
        </p>
        :)
    </main>
{% endblock %}